@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/*
@tailwind base;
*/
@tailwind components;
@tailwind utilities;

:root {
  font-family: "IBM Plex Serif", serif;
  font-size: 1rem /* 16px */;
  line-height: 1.5rem /* 24px */;

  color-scheme: light dark;
  color: rgb(223, 223, 223);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  color: inherit;
  text-decoration: inherit;
}
a:hover {
  color: #ffff90;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

button, input, select, textarea, label {
  font-family: "IBM Plex Serif", sans-serif;
}

label {
  font-size: 0.875rem /* 14px */;
}

textarea {
  font-size: 0.875rem /* 14px */;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #666611;
  }
}

@font-face {
  font-family: Georgia10;
  src: url('/ttf/Georgia10_Georgia_10pt_st.ttf') format('truetype');
}

@font-face {
  font-family: Georgia12;
  src: url('/ttf/Georgia12_Georgia_12pt_st.ttf') format('truetype');
}

@font-face {
  font-family: Courier12;
  src: url('/ttf/Courier12_CourierNew_12pt_st.ttf') format('truetype');
}

@font-face {
  font-family: TravelingTypewriter;
  src: url('/ttf/Typewriter_Traveling_Typewriter.ttf') format('truetype');
}
